.git
.github
.idea
.vscode
node_modules
vendor
.env
.env.local
.env.*.local
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
public/build
public/storage
database/database.sqlite
tests
*.log
